/* BASE STYLES */
body {
    text-align: center;
    background: url('../images/intersection.png');
    font-family: 'Bungee', cursive;
    color: #65c051;
}

/* HEADER STYLES */
header {
    font-size: 1.3em;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.moves-time {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: Arial;
    color: #000;
}

/* START & END MODAL STYLES */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 1s linear 1s, opacity 0.25s 0s, transform 0.25s;
}

.modal-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1rem 1.5 rem;
    width: 24rem;
    border-radius: 0.5rem;
    color: black;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 1s linear 1s, opacity 0.25 0s, transform 0.25s;
}

.modal .play-again-btn,
.modal .start-btn {
   padding: 10px;
   font-size: 1em;
   min-width: 150px;
   border-radius: 10px;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 5px;
   background-color: #e07cff;
   color: #fff;
   font-weight: bold;
   margin: 30px auto;
}

.modal .play-again-btn:hover,
.modal .start-btn:hover {
   background-color: #fff;
   color: #e07cff;
}
